stages:
  - build
  - deploy
 
variables:
  DEPLOY_MKDOCS: "true"
 
pages:
  image: python:3.9-slim
  stage: build
  tags:
    - hva        
  before_script:
    - apt update && apt-get install -y git
    - pip install -r docs/requirements.txt
    - git clone https://uva-hva.gitlab.host/hbo-ict/mdocotion.git mdocotion
    - cd mdocotion && python setup.py install && cd ..
  script:
    - mkdocs build --site-dir public --config-file mkdocs.yml
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
 
deploy_to_render:
  stage: deploy
  image: curlimages/curl:latest
  tags:
    - hva        
  script:
    - echo "Triggering deploy on Render"
    - curl -s -X POST "$RENDER_HOOK" -o /dev/null
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'