# Simplified GitLab CI configuration for MkDocs deployment
# This version removes external dependencies and uses standard runners

variables:
  DEPLOY_MKDOCS: "true"

# NOTE: This job has to be called "pages" to be able to deploy to Gitlab Pages!
pages:
  image: python:3.9-slim
  stage: build
  when: always
  before_script:
  - apt update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  script:
  - mkdocs build --site-dir public --config-file mkdocs.yml
  artifacts:
    paths:
    - public
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $DEPLOY_MKDOCS == "true"