stages:
  - build
  - deploy

pages:
  image: python:3.9-slim
  stage: build
  before_script:
    - apt update && apt-get install -y git
    - pip install -r docs/requirements.txt
    - git clone https://uva-hva.gitlab.host/hbo-ict/mdocotion.git mdocotion
    - cd mdocotion && python setup.py install && cd ..
  script:
    - mkdocs build --site-dir public --config-file mkdocs.yml
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      variables:
        DEPLOY_MKDOCS: "true"

deploy_to_render:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - echo "Triggering deploy on Render"
    - curl -s -X POST "$Render_Hook" -o /dev/null
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
#test 1