
stages:
  - build
  - deploy

variables:
  DEPLOY_MKDOCS: "false"

pages:
  image: python:3.9-slim
  stage: build
  when: always
  tags:
    - hva
  before_script:
    - time apt update && apt-get install -y git
    - time pip install -r docs/requirements.txt
    - time git clone https://uva-hva.gitlab.host/hbo-ict/mdocotion.git mdocotion
    - time cd mdocotion && python setup.py install && cd ..
  script:
    - time mkdocs build --site-dir public --config-file mkdocs.yml
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $DEPLOY_MKDOCS == "true"

deploy_to_render:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - echo "Triggering deploy on Render"
    - curl -X POST "$Render_Hook"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#test