{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Toevoegen event{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <table>
      <tr>
        <td class="fitwidth">Omschrijving</td>
        <td><input type="text" name="description" placeholder="Omschrijving" required></td>
      </tr>
      <tr>
        <td class="fitwidth">Datum</td>
        <td><input type="date" name="date" placeholder="Omschrijving" required></td>
      </tr>
      <tr>
        <td><button type="submit">Opslaan</button></td>
        <td><a href="{{ url_for('events.index') }}">Annuleren</a></td>
      </tr>
    </table>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
  </form>
{% endblock %}
