{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Wijzigen event{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <table>
      <tr>
        <td class="fitwidth">Omschrijving</td>
        <td><input type="text" name="description" value="{{ event['description'] }}" required></td>
      </tr>
      <tr>
        <td class="fitwidth">Datum</td>
        <td><input type="date" name="date" value="{{ event['eventDate'].strftime('%Y-%m-%d') }}" required></td>
      </tr>
      <tr>
        <td><button id="more" type="submit">Opslaan</button></td>
        <td><a href="{{ url_for('events.view', event_id=event['eventId']) }}">Terug</a></td>
      </tr>
    </table>
  </form>
{% endblock %}
