{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Alle events{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Omschrijving</th>
      <th>Datum</th>
    </tr>
    <tbody>
      {% for event in events %}
        <tr>
          <td><a href="{{ url_for('events.view', event_id=event['eventId']) }}">{{ event['description'] }}</a></td>
          <td>{{ event['eventDate'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button>
    <a href="{{ url_for('events.create') }}">Toevoegen</a>
  </button>
{% endblock %}
