{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h1>Account aanmaken</h1>
    <form class="auth-form" method="post" action="{{ url_for('main.registreer') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.voornaam.label }}
            {{ form.voornaam(class="form-control") }}
            {% if form.voornaam.errors %}
                <div class="form-errors">{{ form.voornaam.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.achternaam.label }}
            {{ form.achternaam(class="form-control") }}
            {% if form.achternaam.errors %}
                <div class="form-errors">{{ form.achternaam.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="form-errors">{{ form.email.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="form-errors">{{ form.password.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2(class="form-control") }}
            {% if form.password2.errors %}
                <div class="form-errors">{{ form.password2.errors[0] }}</div>
            {% endif %}
        </div>
        <button type="submit">Account aanmaken</button>
    </form>
    <div class="auth-links">
        <p>Al een account? <a href="{{ url_for('main.login') }}">Log hier in</a></p>
    </div>
</div>
{% endblock %}
