{% extends 'base.html' %}

{% block header %}
<h1>Upload</h1>
{% endblock %}

{% block content %}
<div class="upload-body">
  <div class="upload-container">
    <div class="upload-box">
      <p class="upload-subtitle">Kies een bestand om te uploaden</p>
      <form action="{{ url_for('main.upload') }}" method="post" enctype="multipart/form-data">
        {{ csrf_token() }}
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


